.form-container input,select,textarea{
    display:block;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 1rem;
    border:1px solid rgb(201, 193, 193);
}
.button-class{
    background-color: #FFD050;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.form-container textarea{
    height: 8rem;
}
.form-container textarea::placeholder{
    color: rgb(54, 53, 53);
    font-weight: 300;
    text-transform: capitalize;
}
.form-container input::placeholder{
    color: rgb(71, 69, 69);
    font-weight: 500;
    text-transform: capitalize;
}
.form-container{
    width:100%;
    margin-bottom: 2%;
}